
body { background-image: url(sky.png);
        background-repeat: no-repeat;
    background-attachment: fixed;
background-position: center;
background-size: cover;}

        

h1 {
    color: rgb(196, 196, 46);=
}
p{
    background-color: rgb(226, 169, 169);
}

#P1 {color: blue; font-size: 25px;}
#P2 { text-align: center;}
#p3 { color: rgb(174, 105, 238);}

.odd { color: brown;}
.even {color: aliceblue;}
p{ background: linear-gradient(rgb(142, 190, 209), rgb(141, 139, 141)); background-repeat: no-repeat;
    font-style: italic;
}
p{
border-style: outset;
border-width: 4px;
border-color: gold;
border-radius: 20px;
padding: 20px;
}
h1 { 
        border-top-style: dotted;
        border-bottom-style: dotted;
        border-left-width: 20px;
        border-left-color: silver;
}


</style>