body {
    font-family: 'Calibri Light', Arial, sans-serif;
    background-color: Silver;
    color: #333;
    margin: 0;
    padding: 20px;
    line-height: 1.6;
}

table {
    margin: 0 auto;
    width: 80%;
    max-width: 900px;
    border-collapse: collapse;
}

td {
    padding: 10px;
}

center {
    display: block;
    text-align: center;
    margin-bottom: 15px;
}

h1, h2, h3, h4, h5, h6 {
    color: #7a3240;
    margin-top: 20px;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.4em;
}

h5 {
    font-size: 1em;
    margin-top: 5px;
    margin-bottom: 5px;
}

a {
    color: #0a1827;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    color: hsl(210, 14%, 43%);
    margin-bottom: 10px;
}

hr {
    border: 0;
    height: 1px;
    background-color: #ccc;
    margin: 30px 0;
}

ul {
    padding-left: 20px;
    margin-top: 0;
    margin-bottom: 10px;
}

li {
    margin-bottom: 5px;
}

.experience-item {
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.company-logo-button {
    cursor: pointer;
    border: 3px solid transparent;
    border-radius: 8px;
    transition: border-color 0.3s ease, transform 0.2s ease;
    display: inline-block;
    margin-bottom: 10px;
}

.company-logo-button:hover {
    border-color: #007bff;
    transform: scale(1.05);
}

.work-details {
    display: none;
    margin-top: 15px;
    padding: 15px;
    border: 1px solid #160505;
    background-color: #7992c0;
    border-radius: 5px;
    text-align: left;
}

.work-details.visible {
    display: block;
}

.work-details h4 {
    margin-top: 0;
    color: #333;
}

.work-details .dates {
    font-style: italic;
    color: #180202;
    margin-bottom: 10px;
}

.work-details ul {
    list-style-type: disc;
    padding-left: 20px;
    margin: 10px 0 0 0;
}

.work-details ul li {
    margin-bottom: 8px;
    color: #333;
}

.profile-header img {
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 15px;
}

.contact-info b font {
    font-size: 1.8em;
    color: #333;
}
.contact-info h3, .contact-info h5 {
    margin: 5px 0;
}

.cv-section-item {
    margin-bottom: 20px;
}

.section-logo-button {
    cursor: pointer;
    border: 3px solid transparent;
    border-radius: 8px;
    transition: border-color 0.3s ease, transform 0.2s ease;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.section-logo-button:hover {
    border-color: #0747f6;
    transform: scale(1.05);
}

.section-details {
    display: none;
    margin-top: 15px;
    padding: 15px;
    border: 1px solid #e0e0e0;
    background-color: #e6f2ff; /* Light blue background */
    border-radius: 5px;
    text-align: left;
}

.section-details.visible {
    display: block;
}

.section-details h3 {
    font-size: 1.1em;
    margin-top: 15px;
    margin-bottom: 5px;
    color: #555;
}
.section-details ul {
    margin-top: 5px;
}
