body { border: 3px solid; }


    #box1 {

        border: 5px solid;
        width: 250px;
        height: 250px;
        font-size: 22px;
        background: rgb(199, 156, 199);

        padding: 50px;
        margin-right: auto;

        position:fixed;

        top: 50px;
        left: 50px;

    
    }
    #box2{
        border: 5px solid;
        width: 250px;
        height: 250px;
        font-size: 22px;
        background: yellowgreen;
        margin-left: auto;
        
        position: absolute;
        top: 150;
        left: 150;

    }
    #box3 {
        border: 2px solid;
        width: 100px;
        height: 100px;
        font-size: 12px;
        background: rgb(205, 202, 50);
        margin-left: auto;
        float: left;
    }
}